@font-face {
    font-family: 'Metric';
    src: url('./fonts/Metric-BlackItalic.eot');
    src: url('./fonts/Metric-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Metric-BlackItalic.woff2') format('woff2'),
        url('./fonts/Metric-BlackItalic.woff') format('woff'),
        url('./fonts/Metric-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Metric';
    src: url('./fonts/Metric-Black.eot');
    src: url('./fonts/Metric-Black.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Metric-Black.woff2') format('woff2'),
        url('./fonts/Metric-Black.woff') format('woff'),
        url('./fonts/Metric-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Metric';
    src: url('./fonts/Metric-BoldItalic.eot');
    src: url('./fonts/Metric-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Metric-BoldItalic.woff2') format('woff2'),
        url('./fonts/Metric-BoldItalic.woff') format('woff'),
        url('./fonts/Metric-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Metric';
    src: url('./fonts/Metric-Italic.eot');
    src: url('./fonts/Metric-Italic.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Metric-Italic.woff2') format('woff2'),
        url('./fonts/Metric-Italic.woff') format('woff'),
        url('./fonts/Metric-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Metric';
    src: url('./fonts/Metric-Bold.eot');
    src: url('./fonts/Metric-Bold.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Metric-Bold.woff2') format('woff2'),
        url('./fonts/Metric-Bold.woff') format('woff'),
        url('./fonts/Metric-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Metric';
    src: url('./fonts/Metric-Medium.eot');
    src: url('./fonts/Metric-Medium.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Metric-Medium.woff2') format('woff2'),
        url('./fonts/Metric-Medium.woff') format('woff'),
        url('./fonts/Metric-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Metric';
    src: url('./fonts/Metric-Light.eot');
    src: url('./fonts/Metric-Light.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Metric-Light.woff2') format('woff2'),
        url('./fonts/Metric-Light.woff') format('woff'),
        url('./fonts/Metric-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Metric';
    src: url('./fonts/Metric.eot');
    src: url('./fonts/Metric.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Metric.woff2') format('woff2'),
        url('./fonts/Metric.woff') format('woff'),
        url('./fonts/Metric.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

