$color-white: #ffffff;
$color-black: #000000;
$color-black-1: #1f1f1f;
$color-gray: #656565;
$color-gray-1: #464545;
$color-gray-2: #c1c1c1;
$color-gray-3: #a19e9e;
$color-gray-4: #e7e7e7;
$color-blue: #018ab8;
$color-blue-dark: #018ab8;

/*FONT*/
$font: "Metric";

@mixin media($point) {
  @if $point == mobil {
    @media (max-width: 767px) {
      @content;
    }
  }
  @if $point == pre-mobil {
    @media (min-width: 544px) {
      @content;
    }
  }
  @if $point == mobil-landscape {
    @media screen and (orientation: landscape) {
      @content;
    }
  } @else if $point == tablet {
    @media (min-width: 768px) {
      @content;
    }
  } @else if $point == only-tablet {
    @media (min-width: 768px) and (max-width: 992px) {
      @content;
    }
  } @else if $point == only-tablet-mobil {
    @media (max-width: 992px) {
      @content;
    }
  } @else if $point == print {
    @media print {
      @content;
    }
  } @else if $point == web {
    @media (min-width: 992px) {
      @content;
    }
  } @else if $point == wide {
    @media (min-width: 1200px) {
      @content;
    }
  } @else if $point == pre-wide {
    @media (min-width: 1260px) and (max-width: 1470px) {
      @content;
    }
  }
}

@mixin placeholder {
  &.placeholder {
    @content;
  }
  &:-moz-placeholder {
    @content;
  }
  &::-webkit-input-placeholder {
    @content;
  }
}

.cmsIframe {
  overflow-x: hidden;
  height: 700px;
  width: 100%;
}
